body, header, ul,h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    text-align: justify;
}

/* header */

main{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
#body-header{
    height: 65vh;
    background-image:url(image/aaaa.jpg);
    background-size: cover;
    background-position:center;
    opacity: 0.8;
    background-attachment: fixed;
}
header > div{
    padding-top: 1%;
    width: inherit;
    text-align: center;
}
header > div > ul > li {
    margin-right:1rem;
    margin-left: 1rem;
    display: inline;
    text-decoration: none;
    list-style-type:none;
}
#nav > li > a{  
    font-size: larger;
    color:white;
    text-decoration: none;
}
#nav{
    margin-bottom: 7%;
}
#nav > li > a:hover{
    color:red;
    border-bottom: 1px solid red;
    transition:color 1s, border-bottom 4s;
}
h1{
    color: white;
    font-size: 5rem; 
    /* position: absolute;
    top: 30%; */
    letter-spacing: 0.1rem;
    text-align: center;
}
#social-media{
    height: fit-content;
}
.icons{
    font-size: larger; /*1rem*/
    color: white;
    width: 3rem;
    
    /* background-color: black; */
}
.icons:hover{
    border-radius: 50%;
    background-color: red;
    transition: border-radius 1s;
    box-shadow: 0px 0px 4px 4px rgba(255,0,0,0.5);
}
/* Sections */
h2{
    margin-bottom: 10vh;
    color: #2857a4;
}
section{
    padding: 60px 0px;
    font-size: 25px;
    width: 100%;
    flex-direction: column ;
    display: flex;
    align-items: center;
}
section:nth-of-type(2n){
    background-color: #9e9b9b29;
}
 section:nth-of-type(2n+1){                                                         /* */
    background-color: white;
}



/* About Section */
/* #about{
    position: relative;
    
} */
#about > div >  img{
    margin: auto;
    margin-top: -22vh;
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border-width: 0px;
    border-style: solid;
    border-color: aliceblue;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 4px rgba(250, 250, 250, 0.5);
}
#about-me{
    /* margin: auto; */
    /* padding: 0% 8%;  */
    width: 80%;
    height: fit-content;
}
#image-container{
    height: fit-content;
    width: fit-content;
}
#about > div > p{
    text-align: justify;
}
p > span{
    font-weight: 500;
    color:navy;
}

/* Skills section */
#skills{
    padding-bottom: 4%;
}
.skill-load{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skill-button{
    margin: 15px 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    color: lightyellow;
    font-size: 17px;
    height: auto;
    width: 15rem;
    box-sizing: border-box;
    background-color: lightgrey;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    overflow: hidden;
    border-radius: 25px;
}

.skill-name{
    margin-left: 10px;
    height: inherit;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.common-button{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 2rem;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #5e5555;
}
#java{
    width: 90%;
    background-color: #2857a4;
    animation: ninety 2s linear;
}
#html{
    width: 80%;
    background-color: #ec4d1c;
    animation: eighty 2s linear;
}
#CSS{
    width: 70%;
    background-color: #0b8176;
    animation: seventy 2s linear;
}
#javascript{
    width: 70%;
    background-color: #2857a4;
    animation: seventy 2s linear;
}

#mongo{
    width: 90%;
    background-color: #ec4d1c;
    animation: ninety 2s linear;
}


#english{

    width: 90%;
    background-color: #0b8176;
    animation: ninety 2s linear;
}

@keyframes ninety
{
    from {
        width: 0%;
    }

    to{ 
        width: 90%;
    }
}

@keyframes eighty
{
    from {
        width: 0%;
    }

    to{ 
        width: 80%;
    }
}

@keyframes seventy
{
    from {
        width: 0%;
    }

    to{ 
        width: 70%;
    }
}



/* Portfolio */

.card-common{
    color: transparent;
    margin: 30px;
    position: relative;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    
}



.describe{
    transition: background-color 0.5s ease-in-out;
    height: inherit;
    width: inherit;
    text-align: center;
    padding: 40px 0px;
    
    /*  */
    
}

.card-common:hover .describe{
    background-color: rgba(82, 75, 75, 0.5);
    color: white;
}


/* Contact section */

#contacts{
    background-image: linear-gradient(to right, #2857a4, rgb(48, 43, 99));
    height: fit-content;
    color: white;
}
#contacts > div > h2::first-line{
    color: white;
}
.contact-card{
    /* border: 2px solid black; */
    width: 40%;
    min-width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#info:only-child{
    flex-grow: 1;
}
input, textarea{
    font-size: 1rem;
    background-color: inherit;
    border: 0;
    border-bottom: 2px solid white;
}
.contact-card > h3,p{
    margin-top: 0;
}
button[type="submit"]{
    font-size: 1rem;
    align-self: center;
    border: 2px solid white;
    background-color: inherit;
    color: white;
    padding: 10px;
}
i[class="far fa-address-card"]{
    color: white;
}



/* work */
.timeline{
    position: relative;
    display: flex;
    flex-direction: column;
    width:70%;
    /* border: 2px solid black; */
    height:fit-content;

}

.time-card{
    /* position; */
    width: 40%;
    min-width: 200px;
    min-height: 150px;
    left: 5%;
    /* border: 2px solid black; */
    /* margin: 30px; */
}

.time-card:nth-of-type(2n+1){
    /* left:53%; */
    align-self: flex-end;
}

.line{

    position: absolute;
    top:11%;
    left: 50%;
    /* height: -webkit-fill-available; */
    height: 75%;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 3px dashed black;
}
.dot{
    /* content: '.'; */
    position:relative;
    /* top: -2%; */
    left:-7px;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content; */
    font-size:10px;
}

.inner-right{
    text-align: right;
}
.inner-left{
    text-align: left;
}
/* h6::before{
    content: url('image/tcs.png');

    content:"";
    background-image: url('image/tcs.png');
    background-size: contain;
    height: 20px;
    width: 20px;
    display: inline-block;


} */
.logo{
    
    background-size: contain;
    /* height: 45px; */
    background-repeat: no-repeat;
    width: inherit;
}

#tcs{
    background-image: url('image/tcs.png');
}

.cn{
    background-image: url('image/CN.jpeg');
}

#indeecon{
    background-image: url('image/indeecon.png');
}

#wr{
    background-image: url('image/wr.jpg');
}


.wrapper-even{
    display: grid;
    grid-template-columns: 85% 15%;
}
.wrapper-odd{
    display: grid;
    grid-template-columns: 15% 85%;
}
#plane-container{
    z-index: 2;
    top: 10vh;
    position: sticky;
    width: 35px;
    height: fit-content;    
}

.runway{
    position: absolute;
    top:10%;
    left: 50%;
    /* height: -webkit-fill-available; */
    height: 78%;
    width: 0px;
}

#plane{
    position: relative;
    left: -13px;
    color: #2857a4;
    transform: rotate(90deg);
}


/* Education */
.timeline{
    width: 80%;
    height: fit-content;
}
.edu-card{
    /* position; */
    /* min-width: 200px; */
    width: 40%;
    left: 5%;
    /* border: 2px solid black; */
    margin: 5px;
}

.edu-card:nth-of-type(2n+1){
    /* left:53%; */
    align-self: flex-end;
}

#vit{
    background-image: url('image/vit.png');   
}
#hsc{
    background-image: url('image/hsc.jpg');   
}
#cbse{
    background-image: url('image/cbse.png');
}

#edu-line{
    position: absolute;
    left: 50%;
    width: 0;
    height: 83%;
    top: 8%;
    border: 1px dashed #0096fa6b;
}

#edu-contain{
    position: sticky;
    top: 135px;
    left: -100px;
    z-index: 2;
}

.fa-car-side{
    position: relative;
    transform: rotate(90deg);
    top:-5px;
    left: -15px;
    color: #2857a4;

}

.head::after{
    position: absolute;
    left: 49.3%;
    content:'.';

    /* background-image: ; */
    font-size: 60px;
}

/* Extra */
section:target{
    background-color: teal;
}






/* Media queries */
@media screen and (max-width: 870px){

    h1{
        font-size:64px;
    }
    h2{
        font-size: 35px;
    }
    .timeline{
        width: 70%;
        min-width: 100px;
    }

    .line{
        left:100%;
    }

    .runway{
        left:100%;
    }

    .time-card , .edu-card{
        width: 90%;
        align-self:flex-start !important;
    }
    #edu-line{
        left: 100%;
    }
    .head::after{
        left: 98.2%;
    }        

}
